body {
    margin: 0;
    padding: 0;
    background-color: #cce4af; /* garden green */
    font-family: 'Courier New', monospace;
    color: #2d2d2d;
    image-rendering: pixelated;
    text-align: center;
    padding-top: 50px;
}

h1, p {
    margin: 0.5em;
}